/* Checkbox common (checkbox and switch) */

label.form-control {
  display: flex;
  align-items: center;
}

input[type=checkbox].form-control {
  display: none;
}

input[type=checkbox].form-control + .marker {
  @apply w-12;
  @apply h-12;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: theme('colors.formControl.lightgray');
  border-radius: 3px;
}

input[type=checkbox].form-control:hover + .marker {
  box-shadow: inset 0 0 0px 2px theme('colors.main.light');
}

/* Checkbox */

input[type=checkbox].form-control:not(.switch):checked + .marker {
  background-image: url('../img/common/tick.svg');
  background-repeat: no-repeat;
  background-position: center;
}

input[type=checkbox].form-control + .marker-bar {
  @apply w-4;
  @apply h-4;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: theme('colors.formControl.lightgray');
  border-radius: 3px;
}

/* Checkbox */

input[type=checkbox].form-control:not(.switch):checked + .marker-bar {
  background-image: url('../../img/common/tick.svg');
  background-repeat: no-repeat;
  background-position: center;
}
