// @import "beagle";

@import "css/sidemenu.css";
@import "css/header.css";
@import "css/common.scss";
@import "css/budget-commander.scss";
@import "css/common/button.scss";
@import "css/common/button_group.css";
@import "css/common/checkbox.css";
@import "css/common/layout.css";
@import "css/common/radio.css";
@import "css/common/switch.css";
@import "css/common/text_input.css";
@import "css/common/tooltip.scss";
@import "css/adtest.scss";
@import "css/feed.scss";
@import "css/accounts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

// html {
//   font-family: 'Titillium Web', sans-serif;
//   font-size: 14px;
// }

// body {
//   @apply bg-background;
//   @apply text-main;
// }

// main {
//   @apply p-8;
//   margin-left: theme('config.sidebarWidth');
//   margin-top: theme('config.headerHeight');
// }

// main.minimized {
//   margin-left: theme('config.sidebarMiniWidth');
// }

button{
  outline:none !important;
}