.Feed {
  .BudgetCommander__budget-commander {
    @apply w-full #{!important};
    @apply pt-0;
  }

  .Feed__BudgetGraph {
    #canvas-holder {
        position: absolute;
        top: 30px;
        left: 8px;
        right: 8px;
        bottom: 8px;
        max-width: 900px;
    }

    #modalCookie1 #canvas-holder{
        top:70px;
        margin:auto;
    }

    .modal-holder{
        top:60px;
    }

    #expand-icon {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 1.5em;
    cursor: pointer;
    }

    #modalCookie1 #expand-icon {
        display:none;
    }

    #modalCookie1 #modal-close-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 2em;
        cursor:pointer;
    }

    #modal-close-icon {
        display:none;
    }
  }

  .Feed__Item {
    .minimise{
      max-height:0 !important;
    }

    .maximise{
      max-height:400px;
    }
    #grow {
      -moz-transition: max-height .5s ease-out;
      -ms-transition: max-height .5s ease-out;
      -o-transition: max-height .5s ease-out;
      -webkit-transition: max-height .5s ease-out;
      transition: max-height .5s ease-out;
      max-height:400px;
      overflow: hidden;
    }

    .disappear{
      opacity:0 !important;
      max-height:0 !important;
    }

    #opacityAnimation {
      -moz-transition: opacity 1s,max-height 1.5s;
      -ms-transition:opacity 1s,max-height 1.5s;
      -o-transition:opacity 1s,max-height 1.5s;
      -webkit-transition:opacity 1s,max-height 1.5s;
      transition:opacity 1s,max-height 1.5s;
      opacity:1;
      max-height:600px;
      overflow: hidden;
    }

    .card {
      padding: 1.5rem;
      width: 100%;
      background-color: white;
      box-shadow: 0px 7px 14px #eee6;
      border-radius: 6px;
    }

    .card-title {
      font-size: 1.125rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
      color: #555974;
    }

    .row {
      margin: -1rem;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
    }

    .row+.row{
      margin-top: 1rem;
    }

    .col {
      padding: 1rem;
      -webkit-box-flex: 1;
              flex-grow: 1;
      position: relative;
    }

    /* Form row */

    .form-row {
      margin-bottom: 1.5rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
    }

    .border-right-bottom-cut {
      padding: 1.25rem;
      position: relative;
    }

    .border-right-bottom-cut:after {
      content: '';
      position: absolute;
      bottom: 0; right: 0;
      border-bottom: .8rem solid white;
      border-left: .8rem solid transparent;
      width: 0;
    }

    .ad-border {
      border-radius: 3px;
      border: 1px solid;
      padding: .25rem .5rem;
      line-max-height: 11px;
      margin-right: 7px;
      background-color: #fff;
      display: inline-block;
      font-size: 12px;
      margin-left: 0px;
    }

    .caret {
      display: inline-block;
      width: 0;
      max-height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 6px dashed;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }

    .underline {
      -webkit-text-decoration-color: #1A0DAB;
              text-decoration-color: #1A0DAB;
    }

    .custom-sub {
      bottom: 0.3rem;
      right: -0.3rem;
    }

    .tailed {
      -webkit-box-align: center;
              align-items: center;
      position: relative;
      display: -webkit-box;
      display: flex;
    }

    .tailed:after {
      content: '';
      position: absolute;
      background-color: #edf2f7;
      left: 100%;
      max-height: 0.25rem;
      width: 0.75rem
    }

    .blur-right {
      position: absolute;
      width: 1.25rem;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #fff;
      opacity: 0.75;
    }

    .compare-blurd-right {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), color-stop(15%, rgb(255, 255, 255)), to(rgb(255, 255, 255)));
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgb(255, 255, 255) 15%, rgb(255, 255, 255) 100%);
    }

    .compare-eye {
      position: relative;
    }

    .compare-eye:after {
      position: absolute;
      border-style: solid;
      border-width: 1px;
      border-color: #797E94;
      max-height: 8rem;
      content: '';
      top: 50%;
      left: 50%;
      z-index: 0;
      -webkit-transform: translateY(-50%) rotate(30deg);
              transform: translateY(-50%) rotate(30deg);
    }

    .eye {
      background-color: #fff;
      z-index: 10;
      padding: .1rem;
    }

    .evo-pink-bg{
        background-color:#CA2D78
    }

    .headline-max-width{
        max-width: 14rem;
    }

    @media (max-width: 640px) {
      .xs-flex-wrap{
        flex-wrap: wrap;
      }
    }
  }
}
